body {
  #root {
    // width: 800px;
    // margin: 0 auto;
    .previewer {
      margin-bottom: 2em;
    }
    @media (min-width: 900px) {
      .previewer {
        display: flex;
        justify-content: space-around;
      }
    }
    #footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 0.7rem;
      .githublink {
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
  }
}